.project{
    height: 100%;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__melwa{
        font-style: italic;
        letter-spacing: 10px;
        color:#ffb400 ;
        font-size: 4rem;
        font-weight: 700;
    }
    &__info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__more{
        width: 25rem;
        height: 50rem;
        margin-right: 2rem;
    }
    &__image{
        width: 25rem;
        height: 18rem;
    }
}