.home {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__image-sec {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    position: relative;
    padding: 0 50px;
  }
  &__image-back {
    background-color: #ffb400;
    width: 200rem;
    height: 250%;
    position: absolute;
    transform: rotate(-15deg);
    z-index: -2;
    left: -160em;
    top: 0.5em;
  }
  &__image {
    height:25rem;
    width: 25rem;
    border-radius: 50%;
  }
  &__name {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    color: #ffb400;
  }
  &__title {
    text-align: center;
    color: white;
    display: flex;
    margin: 0;
    font-size: 3rem;
  }&__main-detail{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info {
    width: 45rem;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: white;
  }
  &__button {
    
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    position: relative;
    background-color: #ffb400;
    clip-path: polygon(75% 0%, 100% 51%, 75% 100%, 0% 100%, 23% 49%, 0% 0%);
    cursor: pointer;
    transition: transform 0.3s, font-size 0.3s;

    &:hover {
      transform: scale(1.1); /* Scale up by 10% */
      font-size: 18px; /* Increase font size */
    }
  }
}
